<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>3</ApplicationRevision>
    <ApplicationVersion>1.0.0.%2a</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <Install>true</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsWebBootstrapper>false</IsWebBootstrapper>
    <MapFileExtensions>true</MapFileExtensions>
    <PublishUrl>publish\</PublishUrl>
    <PublisherName>Yusufhan</PublisherName>
    <ProductName>Kompanzasyon Hesap Sistemi</ProductName>
    <PublishDir>bin\Release\net9.0-windows\publish\</PublishDir>
    <SelfContained>false</SelfContained>
    <UpdateEnabled>false</UpdateEnabled>
    <UseApplicationTrust>False</UseApplicationTrust>
    <InstallDotNet>true</InstallDotNet>
  </PropertyGroup>
</Project>
